<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!--
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>-->
  <connectionStrings>
     <add name="UmehlukoEntities1" connectionString="metadata=res://*/UmehlukoModel.csdl|res://*/UmehlukoModel.ssdl|res://*/UmehlukoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zadoluifsqlqa1.resource.labour.net;initial catalog=Umehluko2;persist security info=True;user id=RMA_DBA;password=May@2013;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="UmehlukoEntities1" connectionString="Data Source=zadoluifsqla1.resource.labour.net;initial catalog=Umehluko2;user id=RMA_DBA;password=May@2013;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  
  <appSettings>
    <add key="ClinicalProcedureGPConfigKey" value="7,8"/>
    <add key="ClinicalProcedureSpecialistConfigKey" value="4,5,9,10,11,12,13,14,15,16,18,19,20,21, 22,23,24,25,30,33,54,55,56,57,58,59,84,85,105,106,153,189,242,133,135,136,137,138,139,140,141,142,150,151,163,164,190,192,193,194,195,196,197,214,215,216,217,218,219,220,221,222,223,226,227,228,229,230,231,232,233,234,235,236,239,240,248,249,250,251"/>
    <add key="RadiologyGPConfigKey" value="4,5,9,10,11,12,13,14,15,16,18,19,20,22,23,24,25,26,27,30,33,54,55,56,57,59,84,85,105,106,128,129,130,153,189,242,131,132,133,135,136,137,138,139,140,141,142,150,151,163,164,190,192,193,194,195,196,197,198,199,200,214,215,216,217,218,219,220,221,222,223,226,227,228,229,230,231,232,233,234,235,236,239,240,248,249,250,251"/>
    <add key="RadiologySpecialistConfigKey" value="21,58"/>
    <add key="PathologyGPConfigKey" value="4,5,7,8,9,10,11,12,13,14,15,16,18,19,20,21, 22,23,24,25,30,33,54,55,56,57,58,59,84,85,105,106,153,189,242,133,135,136,137,138,139,140,141,142,150,151,163,164,190,192,193,194,195,196,197,214,215,216,217,218,219,220,221,222,223,226,227,228,229,230,231,232,233,234,235,236,239,240,248,249,250,251"/>
    <add key="PathologySpecialistConfigKey" value="26,27,128,129,130,131,132,198,199,200"/> 
    <add key="RadOncoSpecialistConfigKey" value="22"/>
    <add key="ProvincialHospitalConfigKey" value="29,94,95,96,97,98,243"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
